<h2 class="contact-title">
    Entre em contato
</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="" class="row">
                <input type="text" placeholder="Digite o seu nome" class="col-md-6 mb-2">
                <input type="assunto" placeholder="Digite o assunto" class="mb-2">
                <input type="tel" placeholder="(00) 0 0000-0000" class="mb-2">
                <input type="email" placeholder="Digite o seu e-mail" class="mb-2">
                <textarea maxlength="300" placeholder="Digite a mensagem..."></textarea>
                <button type="button" class="btn btn-primary mt-2 col-md-3">Enviar</button>
            </form>
        </div>
        <div class="col-md-6">
            <address>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15800.724602367924!2d-34.9395447!3d-8.0830002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x64e0e4a6d602f8c1!2sSupermercado%20Rende%20Mais!5e0!3m2!1spt-BR!2sbr!4v1674179589188!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>Av. São Paulo, 395 - Jardim São Paulo, Recife - PE, 50781-600</p>
            </address>
        </div>
    </div>
</div>
<section class="contact-container">



</section>