<div class="d-flex flex-row bd-highlight mb-2">
    <form class="serch-form d-flex flex-row bd-highlight mb-2" (ngSubmit)="pesquisar()" [(ngModel)]=descricao>
        <div class="p-2 bd-highlight"><input class="form-control p-2 bd-highlight" type="search"
                placeholder="Buscar" aria-label="Buscar"></div>
        <div class="p-2 bd-highlight">
            <button class="btn btn-outline-success p-2 bd-highlight" type="submit">
                Buscar</button>
        </div>
    </form>

</div>